.Home{
  background-color: #fafafa;
  scroll-behavior: smooth;
  z-index: 50;
  margin-bottom: 0px
}

.Home__Banner{
  min-height: 80vh;
  opacity:0.9;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


.Home__h1{
  display: inline-block;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 3%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: .1em;
  text-shadow:
    0 0 2px #70BED1,
    0 0 10px #000,
    0 0 21px #000,
    0 0 142px #70BED1,
    0 0 102px #70BED1,
    0 0 11px #70BED1;
}


.emphasis-1{
  font-size: 20px;
  color: #fff;
  line-height: 2em;
  letter-spacing: .1em;
  margin-bottom: 25px;
}




.Home__row__0{
  margin: 5% 10% 1% 10%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home__row{
  margin: 5% 10% 1% 10%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Home__row__1{
  justify-content: space-around;
  }
  
  .Home__row__2{
  background-image: url('../../Assets/Background/moles.webp');
  background-repeat: no-repeat;
  background-position: center;  
   display: flex;
   flex-wrap: nowrap;
   margin: 3% 1% 1% 5%;

   }

     
  .Home__row__3{
     display: flex;
     flex-wrap: nowrap;
     align-items: center!;
     }

     .Home__R2__h3{
      display: flex;
      flex-wrap: nowrap;
      margin: 5% 1% 1% 5%;
      align-items: left;
      margin: 40px 80px 0px 40px;
      font-weight: bold;
      color: #70BED1;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: .1em;
      }

.Home__partner_logo{
  max-width:30%;
  margin: 10px 40px;
}

.Home__h3__0{
  margin: 0px 25px;
  font-weight: bold;
  color: #70BED1;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .1em;
}

.Home__p__0{
  margin: 25px 40px;
  font-size: 15px;
  letter-spacing: .1em;
  text-align: center;
}

.Home__p__1{
  margin: 25px 40px;
  font-size: 15px;
  letter-spacing: .1em;
  text-align: left;
}

.Home__R1__col1{
  align-items: center;
  display: flex;
  flex-direction: column;
}


.Home__col__wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}


.Home__p{
margin: 10px 50px;
font-size:20px;
letter-spacing: .1em;
text-align: left;
}


#Home__row1__button{
margin: 25px;
background-color: #70BED1;
color: #003c4c;
border-radius: 50px;
padding: 10px 60px;
font-size: 20px;
font-weight: bold;
-webkit-transition: .3s ease-in-out;
transition: .5s ease-in-out;
 }

 #Home__row1__button:hover{
 color: #70BED1;
 background-color: #003c4c;
 border-radius: 50px;
font-size: 20px;
font-weight: bold;
}

.Home__h3{
text-align: center !important;
font-size: 1.5rem;
margin: 0px 10px;
font-weight: bold;
letter-spacing: .1em;
color: #70BED1;
}

.Home__h3__2{
  text-align: left;
  font-size: 1.5rem;
  margin: 0px 10px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #70BED1;
  
  }


.Home__h2__r2{
  text-align: left;
  font-size: 3rem;
  margin: 40px 10px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #2e2e2e;

}



 @media (max-width: 950px){


 .Home__row__2{
display: flex;
flex-wrap: wrap;
margin: 3% 1%;
max-width: 100%;
align-items: center;
 }
}

 @media (max-width: 500px){

body {
box-sizing: content-box;
justify-content: center!important;
align-items: center;
max-width: 98%;
}

.Home{
background-color: #Fafafa;
scroll-behavior: smooth;
justify-content: center;
 
}


.Home__h1{
display: none;
}

.Home__p{
margin: 10px 0px;
font-size:15px;
letter-spacing: .1em;
text-align: center;
}


.Home__h3{
margin: 5%;
text-align: center;
font-size: 1.1rem;
font-weight: bold;
letter-spacing: .1em;
color: #70BED1;
}



}